.upload-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-out;
  transform: translateY(100%);
  display: none; /* Hide the upload bar by default */
}

.upload-bar.show {
  display: block; /* Display the upload bar when the 'show' class is added */
}
